@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

button{
    margin-left: 15px;
    background-color: pink;
    font-size: medium;
    font-weight: 500;
    text-shadow: rgb(174, 32, 174);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.li {
    size: 20px;
}
input[type=text] {
    border-top-color:transparent;
    border-left-color: transparent ;
    border-right-color: transparent;
    border-bottom-color: black;
    border-bottom-width: 5px;
    padding-left: 10px;
    padding-left: 25px;
    transition: width 0.4s ease-in-out;
    font-family: sans-serif;
    font-size: large;
  }
  input[type=text]:focus {
    background-color:rgb(235, 213, 213);
    color: rgb(164, 43, 164);
    width: 50%;
}


.gif{
    width: 25%;
    height: 15%;
    margin-left: 5%;
}